---
	import '../styles/global.css';
	import Counter from '../components/Counter.svelte';
	import BaseLayout from "../layouts/BaseLayout.astro";
	const pageTitle = "Svelte counter";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
	<BaseLayout pageTitle={pageTitle}>
		<div class="w-full flex flex-col items-center">
			<Counter client:visible>
			</Counter>
		</div>
	</BaseLayout>
	</body>
</html>
