---

---
<div class="relative flex justify-start items-center w-screen">
    <img class="relative object-cover w-full h-full max-h-[1100px]" src="../../public/sous-pente.jpg" alt="">
    <span class="absolute bottom-10 left-10 z-10">
        <a href="#cards"><button class="rounded bg-[#48A1E8] hover:bg-[#2187D8] transition-colors duration-200 py-2 px-4 text-white w-auto">Voir nos modèles</button></a>
    </span>
</div>