<div class="nav-links w-full flex justify-center items-center gap-3 font-bold">
    <a href="/">Home</a>
    <a href="/counter/">Counter</a>
    <a href="/blog/">Blog</a>
    <a href="/image/">Image</a>
</div>
